# Visual Studio
.vs/
*.ipch
*.sdf
*.opensdf
*.obj
*.pdb
*.idb
*.tlog
*.pch
*.log
*.user
*.db
*.VC.db
*.VC.opendb
*.exe
*.dll
*.cache
*.ilk
*.ncb
*.aps
*.suo
*.userosscache
x64/
x86/
Debug/
Release/
bin/
obj/
